@model Survey

<div class="container-fluid">
  <div class="row">
    <form class="col-md-12 form-horizontal" action="/result" method="post">
      <div class="form-group">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <span asp-validation-for="Locations" class="text-danger"></span>
        <label asp-for="Locations"></label>
        <select class="form-control" asp-for="Locations">
          <option value="Seattle">Seattle</option>
          <option value="San Jose">San Jose</option>
          <option value="Boise">Boise</option>
          <option value="Chicago">Chicago</option>
          <option value="New York">New York</option>
          <option value="Salt Lake City">Salt Lake City</option>
        </select>
      </div>

      <div class="form-group">
        <span asp-validation-for="Languages"></span>
        <label asp-for="Languages"></label>
        <select asp-for="Languages" class="form-control">
          <option value="Python">Python</option>
          <option value="JavaScript">JavaScript</option>
          <option value="C#">C#</option>
          <option value="Java">Java</option>
        </select>
        </select>
      </div>

      <div class="form-group">
        <span asp-validation-for="Comments" class="text-danger"></span>
        <label asp-for="Comments">Comment:</label>
        <textarea class="form-control" asp-for="Comments" cols="30" rows="10"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>