@{
  ViewData["title"] = "Dojo Survey Index";
}
<div class="container-fluid">
  <h1>Submitted Info</h1>
  <p>Name: @Model.Name</p>
  <p>Favorite Language: @Model.Languages</p>
  <p>Favorite Location: @Model.Locations</p>
  <p>Comments: @Model.Comments</p>
  <a href="/" class="btn btn-primary">Go Back!</a>
</div>